.contest-info{
    margin-top:-15px;
}
.form-inline .radio {
    vertical-align: -3px;
    margin-left: 0px;
    padding-right:14px;
    padding-left:25px;
}
.ac_label {
    padding-left:5px;
}
.input-group{
    padding-top: 5px;
    padding-bottom: 5px;


}
.long-text{
    word-break: break-all;
    word-wrap: break-word;
}
/**
.medium-text{
    font-size:18px;
    border-top:8px;
    border-bottom: 0;
    margin: 0;
}

.big-text{
    font-size:20px;
    border-top:8px;
    border-bottom: 0;
    margin: 0;
}
.small-text{
    font-size:14px;
    border-top:8px;
    border-bottom: 0;
    margin: 0;
}**/
.member-group{
    font-size:16px;
}
#summary_table{
    font-size:18px;
}